<% if @restaurant.errors.any? %>
  <section id="errors">
    <h1>YOU HAVE PERFORMED AN ILLEGAL OPERATION</h1>
    <h1>but I have a soft, tickly side :-)</h1>
    <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved: </h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @restaurant, html: {multipart: true} do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.file_field :image %>
  <%= f.submit "GO FISHING HONEY MONSTER" %>
<% end %>